// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lesson {
  background-color:black;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin-top:10px;
  margin-bottom:10px;
  height: 130px;
  font-size: 15px;
}

.lesson a {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size:15px;
}

.lesson a b {
  font-weight: 100;
  font-size:25px;
}